<main>
    <div class="container">
        <div class="row profession">
            <div class="col-md-8 rest_pd profession_card">
                <div class="profession_name" ng-if="vm.profession">
                    <p>{{vm.profession.name}}</p>
                    <span class="">{{vm.profession.companyName}}</span>
                    <div class="requirements">
                        <span>{{vm.profession|compensation}}</span>
                        <span>{{vm.city}}</span>
                        <span>{{vm.profession|education}}</span>
                        <span>{{vm.profession|experience}}</span>
                    </div>
                    <ul>
                        <li class="tag" ng-repeat="tag in vm.profession.companyTags">{{tag.companyTag}}</li>
                    </ul>
                    <span class="updateTime">发布时间：{{vm.profession.updateAt|timestamp}}</span>
                </div>
                <div class="profession_detail">
                    <h4>职位描述</h4>
                </div>
                <p>岗位职责：</p>
                <p>{{vm.profession.responsibility}}</p>
                <br>
                <p>必备条件：</p>
                <p>{{vm.profession.requisite}}</p>
                <br>
                <p>公司福利：</p>
                <p>{{vm.profession.boon}}</p>

            </div>
            <div class="col-md-4 rest_pd">
                <div class="company_logo text-center">
                    <img class="img-thumbnail" ng-src="{{vm.profession.logo}}">
                </div>
                <p class="text-center pd_t bold">{{vm.profession.productName||vm.profession.companyName}}</p>
                <div class='spacer_wire '>
                    <span class="col-md-4 col-xs-4 rest_pd_l">基本信息</span>
                    <span class="col-md-8 col-xs-8"></span>
                </div>
                <div class=" company_intro">
                    <p class="user_icon">{{vm.profession.totalNum}}</p>
                    <p class="company_type_icon">
                        <span ng-repeat="type in vm.profession.industryList|industry">{{type}}<span
                                ng-if="!$last">/</span></span>
                    </p>
                </div>
            </div>
            <div class="col-md-8 rest_pd_l  ">
                <div class="profession_footer">
                    <div>
                        <a>分享</a>
                        <a></a>
                        <a></a>
                        <a></a>
                    </div>
                    <button type=button class="btn btn-danger pull-right" data-target=".modal" data-toggle="modal">
                        我感兴趣
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md" role="document" style="z-index: 9999">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">我感兴趣</h4>
            </div>
            <div class="modal-body">
                <p>模式介绍：萝卜多先技术面试-再推荐给用人单位</p>
                <p>萝卜多是一个知根知底的社群招聘。萝卜多的合作企业和候选人，都是萝卜多精心筛选，认证，陪伴多年的伙伴。在萝卜多找工作快，工作有保障。值得您信任的招聘网站。</p>
                <p>您将感兴趣的职位、公司名称以及您的个人信息发送到我们的邮箱，我们会尽快帮您安排。</p>
                <p>邮箱地址：hr@ptteng.com</p>
            </div>
        </div>
    </div>
</div>