.success_case {
  height: 178px;
  width: 258px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin: 20px auto;
}
.btn-danger {
  width: 182px;
  height: 56px;
  margin: 20px;
}
.advantage {
  height: 178px;
  width: 258px;
  text-align: center  ;
  border-radius: 5px;
  margin: 0 auto;
}
.advantage p {
  margin-top: 15px;
}
.elite_service_flow {
  height: 485px;
  width: 50%;
  border-right: 2px dashed #f6d2d8;
  display: inline-block;
}
.step {
  height: 20%;
}
.step p {
  width: 250px;
}
@media (min-width: 768px) {
  .elite_text {
    text-align: left;
    padding: 20px 0 0 0;
  }
  .text_big_align {
    text-align: left;
  }
}
.elite_text {
  padding: 20px 0 0 0;
}
.flow_arror {
  border-right: 2px dashed #f6d2d8;
  margin: 0 auto;
  width: 1px;
  height: 95px;
  position: relative;
}
.flow_arror > img {
  position: absolute;
  left: -7px;
  top: 38px;
}
.img_mx_wid {
  max-width: 100%;
}
.elite_row {
  height: 268px;
}
.wrap_small_pd {
  padding-top: 75px;
  padding-bottom: 75px;
}
