<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width,initial-scale=1">
    <title>后 台</title>
    <link rel=stylesheet href="css/list.css">
</head>
<body>
<header>
    <b>后台管理系统</b>
    <div class="user-msg">
        <span id="user-type"></span>
        <img src="image/u10.png">
        <span id="user-name">未登录</span>
        <button type=button id="loginout">退出</button>
    </div>
</header>
<ul class="nav-left">
    <li><a data-ui-sref="list">学员列表</a></li>
    <li><a data-ui-sref=".edit">新增学员</a></li>
    <li><a data-ui-sref="user"> 个人信息</a></li>
</ul>
<main data-ng-app="routerApp" data-ng-controller="listCtl">
    <!--<span data-ui-view></span>-->
    <div class="users" data-ui-view>
        <p>列表管理</p>
        <div class="filter">
            <label for="type">类　型</label>
                <select id="type" data-ng-model="selectType" data-ng-options="x.value as x.name for x in type"></select>
            <label for="talent">资　质</label>
            <select id="talent" data-ng-model="selectTalent" data-ng-options="x.value as x.name for x in talent"></select>
            <label for="level">修行等级</label>
            <select id="level" data-ng-model="selectLevel" data-ng-options="x.value as x.name for x in level"></select>
            <button type=button id="search" data-ng-click="search()">搜索</button>
        </div>
        <div class="user-list">
            <p>内容列表</p>
            <button class="add">新增</button>
            <dl>
                <dt>id</dt>
                <dt>姓名</dt>
                <dt>类型</dt>
                <dt>报名时间</dt>
                <dt>操作</dt>
            </dl>
            <div class="detail">
                <ul data-ng-repeat="user in userList">
                    <li data-ng-bind="user.id"></li>
                    <li data-ng-bind="user.name"></li>
                    <li data-ng-bind="localeData.type[user.type-1]"></li>
                    <li data-ng-bind="time(user.joinTime)"></li>
                    <li>
                        <button type="button" class="edit" data-ng-click="edit()">编辑</button>
                        <button type="button" class="del" data-ng-click="del()">删除</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page">
            <button class="pre" data-ng-disabled="preState" data-ng-click="prePage()"><</button>
            <p class="page-bar">第<span data-ng-bind="page"></span>页</p>
            <button class="next" data-ng-disabled="nextState" data-ng-click="nextPage()">></button>
        </div>
    </div>
</main>
<script src="http://cdn.bootcss.com/angular.js/1.3.18/angular.min.js"></script>
<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/angular-ui-router/1.0.0-beta.3/angular-ui-router.min.js"></script>
<script src=js/app.js></script>
</body>
</html>